html{
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100%;
}

.header{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 90px;
  border: 1px solid black;
  background-color: #0EA5A4;
}

#title h2{
  font-family: sans-serif;
}

#search input{
  width: 40vw;
  height: 7vh;
  background-color: white;
  border-radius: 30px;
}

#searchBar input{
  text-align: center;
}

.body{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
}

.feed{
  height: calc(100vh - 10vh);
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.feed::-webkit-scrollbar {
  display: none;
}

.posts{
  flex-shrink: 0;
  margin-top: 20px;
  height: 50vh;
  width: 50vw;
  border: 0.5px solid black;
  border-radius: 10px;
}

.sidebar{
  width: 14vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  padding-left: 15px;
  padding-top: 30px;
  border: 1px solid black;
}

.nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  width: 120px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: sans-serif;
}

.nav-link:hover {
  background-color: lightgrey;
  border-color: lightgrey;
}

.topwrapped{
  margin-top: 10px;
  width: 30vw;
  height: 70vh;
  border: 0.2px solid black;  
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;   
  scrollbar-width: none;
}

.top{
  flex-shrink: 0;
  width: 27vw;
  height: 20vh;
  min-height: 20vh;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 50px;
}

.profile button{
  font-size: 20px;
}

.notification button{
  font-size: 20px;
}