#toggle {
  display: none;
}

.menu-btn {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.sidebar {
  width: 110px;
  height: 120vh;
  background: #111;
  position: fixed;
  left: -250px;
  transition: 0.3s;
}

#toggle:checked ~ .sidebar {
  left: 0;
}

.content {
  padding: 20px;
}

