body{
  background-color: #EEF2FF;
}

/*style for the sidebar*/
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 10vw;
  background-color: #676FA3;
}

/*sidebar map icon*/
#Maps{
  display: flex;
  padding-left: 35px;
  padding-top: 70px;
  font-size:35px;
}

/*sidebar map icon hover*/
#Maps:hover{
  
  transform: scale(1.10);
}
