html{
  scroll-behavior: smooth;
}

.header{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 250px;
  border: 0.5px solid black
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title h2{
  font-family: sans-serif;
}

#search input{
  width: 30vw;
  height: 7vh;
  background-color: white;
  border-radius: 30px;
}

#searchBar input{
  text-align: center;
}

.body{
  display: flex;
  align-items: center;
  gap: 20px;
}

.feed{
  height: 100vh;
  width: 55vw;
  border: 0.5px solid black
  
}

.sidebar{
  width: 13vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: stretch;
  padding-left: 20px;
  padding-top: 30px;
  border: 0.5px solid black
}

.nav-link{
  text-decoration: none; /* Removes underline */
  color: black; 
  transition: border-color 0.3s ease
}

.nav-link:hover {
  border-color: gray;
}

.profile{
  width: 9vw;
  height: 5vh;
  border: 0.5px solid black;
}


.topwrapped{
  width: 30vw;
  height: 80vh;
  border: 0.5px solid black;  
  margin-right: 20px;
  margin-bottom: 90px;
}