html{
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100%;
}

.header{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 250px;
  border: 1px solid black;
  background-color: #0EA5A4;
}

#title h2{
  font-family: sans-serif;
}

#search input{
  width: 30vw;
  height: 7vh;
  background-color: white;
  border-radius: 30px;
}

#searchBar input{
  text-align: center;
}

.body{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
}

.sidebar{
  width: 14vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  padding-left: 15px;
  padding-top: 30px;
  border: 1px solid black;
}

.nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  width: 120px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: sans-serif;
}

.nav-link:hover {
  background-color: lightgrey;
  border-color: lightgrey;
}